body {
    margin: 0;
    background-color: #EBF2FA;
}

/* closed lightbox */
.lightbox {
    display: none;
}

/* opened lightbox*/
.lightbox:target {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Lightbox content */
.lightbox figcaption {
    width: 25rem;
    position: relative;
    padding: 1.5em;
    background-color: black;
    color: #fff;
    border-radius: 8px;
}

/* close button */
.lightbox .close {
    position: relative;
    display: block;
}

.lightbox .close::after {
    right: -1rem;
    top: -1rem;
    width: 2rem;
    height: 2rem;
    position: absolute;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    content: "X";
    cursor: pointer;
}

/* Lightbox overlay */
.lightbox .close::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000024;
    content: "";
    cursor: pointer;
}