body {
    background-color: #EBF2FA;
    margin: 0;
    font-family: 'Andika New Basic', sans-serif;
}

* {
    box-sizing: border-box
}

h1 {
    color: red;
    text-align: center;
    font-weight: 100;
}

img {
    width: 100%;
    border-radius: 5px;
}

:placeholder-shown {
    font-weight: 500;
}

nav {
    background-color: red;
    display: flex;
    justify-content: center;
}

nav > a {
    color: #fff;
    padding: 1em;
    cursor: pointer;
    font-weight: bold;
}

nav > a::first-letter {
    font-weight: 100;
}

nav > a:hover {
    color: red;
    background-color: #000;
}

nav + div:last-of-type > div, nav + div:last-of-type {
    padding: 1em;
}

nav + div:last-of-type > div:nth-of-type(4) {
    display: none;
    color: #fff;
    background-color: red;
    border-radius: 5px;
}

nav + div:last-of-type > div:nth-of-type(4) ::selection {
    background-color: lime;
}

form {
    padding: 1em;
}

form > div {
    padding: 1em;
}

form > div:last-of-type {
    width: 100%;
    text-align: center;
}

input:not(valid) {
    border: 1px solid red;
}

input:valid {
    border: none;
}

input[type="text"] {
    width: 100%;
    padding: 1em;
    background-color: red;
}

[type="submit"] {
    padding: 1em;
    border: none;
    cursor: pointer;
    background-color: red;
}

.close::before {
    width: 2em;
    height: 2em;
    content: "X"
}

.close::after {
    content: "";
}

#home:target {
    display: block;
}
